/*font-family: 'Montserrat', sans-serif;*/


body {
	font-family: arial, sans-serif;
}

span {
	color: turquoise;
}

h4 {
	color: navy;
}

h5 {
	text-decoration: uppercase;
	color: black;
	font-weight: bold;
}

a:link {
	color: darkgrey;
}

a {
	font-size: 1.5em;
}


hr {
	margin-right:120px;

}

.container {
	margin-right: 125px;
	margin-left: 45px;
	padding-right: 45px;
}

.jobCompany {
	text-decoration: underline;
	color: darkgrey;
}

.jobTitle {
	text-decoration: bold;
	color: darkgrey;
}

